body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 30px;
}
.border-area{
    border-left: 3px solid red;
}
.chocolate-color{
    color: chocolate;
}
.red-color{
    color: red;
}
.center-add{
    text-align: center;
}
.flexible-conteiner{
    display: flex;
}
#decoration{
    margin-left: 50px;
    margin-right: 50px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.half-width-1{
    width: 50%;
    padding: 2%;
    margin-inline: 10px;
}
.half-width-1 img{
    width: 40%;
}
.half-width-1 p{
    font-size: smaller;
}
#mission{
    background-color: rgb(228, 238, 245);
    border-radius: 10px;
}
#vission{
    background-color: rgb(222, 232, 241);
    border-radius: 10px;
}
#goals{
    background-color: rgb(212, 227, 241);
    border-radius: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(231, 85, 85);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(245, 214, 214);
    font-weight: 700;
}
.middled{
    text-align: center;
    color: white;
    background-color: rgb(32, 32, 32); 
}
footer p{
    font-size: smaller;
}
.add-font{
    font-family: "Sofia", sans-serif;
}

